
.full{
    height: 100vh;
    background: #F2F0E4;

}

.lf-side{
    background: #F2F0E4;
}
.text-head{
    line-height: 120px;
    font-size: 5rem;
    color: #BF5239;
}

.sub-head {
    margin-top: 38vh;
    width: 100%;
}

.text-blue {
    font-size: 1.25rem;
    line-height: 30px;
    color: #2949A6;;
}

.btn {
    background-color: #2949A6;
    width: 322px;    
    height: 54px;
    border-radius: 29px;
    color: white;

}

.cover{ 
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.image-right{
    transform: scale(1.5);
    background-color: #2949A6;
}

@media only screen and (max-width: 1050px) {
    .cover{
        display: none;
    }
    .text-head{
        line-height: 100px;
        font-size: 60px;
        color: #BF5239;
    }

    .text-blue{
        font-size: 15px;
    }
}